.cardProject {
    display: flex;
    align-items: start;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: column;
    width: 24%;
    transition: 0.3s;
    border: 1px solid #1e1e1e30;
    background-color: #090909;
    padding: 15px;
    margin: 15px;
    box-sizing: border-box;
    text-decoration: none;
}

.cardProject:hover {
    transition: 0.3s;
    border: 1px solid #1e1e1e;
    cursor: pointer;
}

.cardProject:hover .iconTitleProject {
    color: #0a75f3;
    transition: 0.3s;
    transform: translateX(5px);
}

.cardProject:hover .contentTextProject h1 {
    color: #0a75f3;
    transition: 0.3s;
}

.cardProject:hover .contentTextProject p {
    color: #0a75f3;
    transition: 0.3s;
}

.cardProject img {
    height: 180px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
    overflow: hidden;
}

.cardProject .contentTextProject {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.cardProject .contentTextProject h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 8px;
    transition: 0.3s;
    text-align: start;
}

.cardProject .contentTextProject .iconTitleProject {
    margin-left: 10px;
    transition: 0.1s;
}

.cardProject .contentTextProject p {
    color: #b8b8bc;
    margin-bottom: 9px;
    font-size: 13.5px;
    transition: 0.3s;
}

.cardProject .contentTextProject ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.cardProject .contentTextProject ul li {
    padding: 3px 8px;
    border: 1px solid #1e1e1e;
    border-radius: 20px;
    margin-right: 8px;
    color: #a1a1aa;
    font-size: 12px;
}